#pageheader{
    font-size: 70px;
    margin-top: 75px;
    margin-bottom: 50px;
}

body{
    background-color: azure;   
}

.styled-select select {
   border: groove;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.selectionButton {
    border-radius: 50%;
}